/* Addon UI styles */
div#textCompanionOverlay {
    height: auto;
    padding: 0.8em 0.75em;
    background-color: #333;
    position: absolute;
    border-radius: 12px;
    font-size: 0.75em;
    display: flex;
    font-size: 12px;
    z-index: 99999;
    display: inherit;
    max-width: calc(1.5em + 48px);
}

div#textCompanionOverlay.disabled {
    display: none;
}

#settings {
    background-color: #333;
}

div#textCompanionOverlay>button {
    box-sizing: border-box;
    display: block;
    color: black;
    border: 1px solid transparent;
    font-size: inherit;
    cursor: pointer;
    border-radius: 12px;
    transition: border, background-color 200ms ease-out;
    width: 42px;
    height: 42px;
    overflow: hidden;
    text-indent: -1000px;
    background-position: center;
    background-size: 28px;
    background-color: red;
    background-repeat: no-repeat;
    margin-bottom: 0.3rem;
    padding: 4px;
}

div#textCompanionOverlay>button:last-of-type {
    margin-bottom: 0em;
}

div#textCompanionOverlay>button#tc__translateButton {
    background-image: url('img/language-solid.svg');
}

div#textCompanionOverlay>button#tc__openLinkButton {
    background-image: url('img/square-arrow-up-right-solid.svg');
}

div#textCompanionOverlay>button#tc__wiktionaryButton {
    background-image: url('img/spell-check-solid.svg');
}

div#textCompanionOverlay>button#tc__googleSelectionButton {
    background-image: url('img/magnifying-glass-solid.svg');
}

div#textCompanionOverlay>button#tc__geizhalsButton {
    background-image: url('img/cart-shopping-solid.svg');
}

div#textCompanionOverlay>button#tc__openTextLinkButton {
    background-image: url('img/link-solid.svg');
}

div#textCompanionOverlay>button:disabled {
    border: 1px solid black;
    color: grey;
    background-color: darkgrey;
    cursor: default;
}

div#textCompanionOverlay>button:hover:not(:disabled) {
    background-color: orange;
    border: 1px solid black;
}
