div#textCompanionOverlay>button#tc__translateButton {
    background-image: url('chrome-extension://lolnkogccnkikimapppanjkkegjiakln/img/language-solid.svg');
}
.2
div#textCompanionOverlay>button#tc__openLinkButton {
    background-image: url('chrome-extension://lolnkogccnkikimapppanjkkegjiakln/img/square-arrow-up-right-solid.svg');
}

div#textCompanionOverlay>button#tc__wiktionaryButton {
    background-image: url('chrome-extension://lolnkogccnkikimapppanjkkegjiakln/img/spell-check-solid.svg');
}

div#textCompanionOverlay>button#tc__googleSelectionButton {
    background-image: url('chrome-extension://lolnkogccnkikimapppanjkkegjiakln/img/magnifying-glass-solid.svg');
}

div#textCompanionOverlay>button#tc__geizhalsButton {
    background-image: url('chrome-extension://lolnkogccnkikimapppanjkkegjiakln/img/cart-shopping-solid.svg');
}

div#textCompanionOverlay>button#tc__openTextLinkButton {
    background-image: url('chrome-extension://lolnkogccnkikimapppanjkkegjiakln/img/link-solid.svg');
}